.libs/
*.cache/
build/
modules/

config.h
config.h.in
config.log
config.nice
config.status
configure
configure.ac
Makefile
Makefile.fragments
Makefile.objects
libtool

rnp.dep
rnp.la
rnp.lo

run-tests.php
